<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.lab_name | append: "  @  " | append: site.institution }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {                        
        $(".main-menu .trigger ul li").each( function () {
                $(this).width($(this).children().innerWidth());
         });
        $(".main-menu .trigger ul li a").mouseenter(function() {    
                $(this).width($(this).parent().innerWidth());
                $(this).addClass("active");    
        });
        $(".main-menu .trigger ul li a").mouseleave(function() {
                $(this).removeClass("active");
                $(this).addClass("no-padding");    
        });       
      });    
    </script>
</head>
